<main class="pt-24 pb-16">
  <div class="container px-4 mx-auto">
    <%= render "shared/breadcrumbs" %>

    <article class="overflow-hidden bg-white rounded-lg">
      <div class="flex flex-col md:flex-row">
        <%= render "products/product_images" %>
        <%= render "products/product_info" %>
      </div>

      <%= render "products/product_tabs" %>
    </article>

    <%= render "products/related_products", products: @related_products %>
  </div>
</main>
