<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test Tailwind</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>

  <body class="min-h-screen bg-white">
    <%= render "shared/header" %>

    <!-- Add padding-top to account for fixed header -->
    <main class="pt-16 min-h-[calc(100vh-4rem)]">
      <%= yield %>
    </main>
  </body>
</html>
